@model List<Ol4RentAPI.DTO.BienListadoDTO>

@{
    ViewBag.Title = "Buscar";
}

<h2>Resultados de la búsqueda</h2>
@if(Model.Count() > 0) {
<ul>
@foreach (var item in Model) {
    <li>
        <div>
            @Html.ActionLink(item.Titulo, "Details", "Bien", new { id=item.Id }, null) <input type="button" value="Me Gusta"  onclick="javascript: like(@item.Id);" />
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
    </li>
}
</ul>
}
else {
    <p>No existen resultados para su búsqueda</p>
}
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/meGusta.js")
}
