@model Ol4RentAPI.DTO.BienAltaDTO
@using Ol4RentAPI.DTO;
@{SitioListadoDTO sitio = (SitioListadoDTO)@Session["sitio"];}

@{
    String nombreTipoBien = "Bien";
    if (sitio != null)
    {
        nombreTipoBien = @sitio.NombreTipoBien;
    }
    String plural = nombreTipoBien.ToLower().EndsWith("a") || nombreTipoBien.ToLower().EndsWith("e") ||
    nombreTipoBien.ToLower().EndsWith("i") || nombreTipoBien.ToLower().EndsWith("o") ||
    nombreTipoBien.ToLower().EndsWith("u") ? "s" : "es";
    ViewBag.Title = "Dar de Alta un Nuevo " + nombreTipoBien;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="float-right">
    <div>
        <!-- Mapa -->
        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR_JcEyolVGeSAWZsQ4g8cIuOLBnDD2l4&sensor=false"></script>
        <script type="text/javascript">
            var map;
            function initialize() {

                var mapOptions = {
                    center: new google.maps.LatLng(-34.887057, -56.171036),
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
                google.maps.Map.prototype.marker = new google.maps.Marker();

                google.maps.event.addListener(map, "click", function (event) { esperaClick(event.latLng); });
            }
            google.maps.event.addDomListener(window, 'load', initialize);

            function esperaClick(location) {
                $("#Direccion").val("");
                creaMarca(location);
            }

            function creaMarca(location) {
                google.maps.Map.prototype.marker.setMap(null);

                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });

                google.maps.Map.prototype.marker = marker;
                map.setZoom(15);
                map.setCenter(location);
                var lat = location.lat().toString().replace(".", ",");
                var lng = location.lng().toString().replace(".", ",");
                $("#Latitud").val(lat);
                $("#Longitud").val(lng);
                $("#click").val(true);
            }

            function crearPuntoDireccion() {
                if ($("#Direccion").val() != null && $.trim($("#Direccion").val().toString()) != "") {
                    $("#click").val(true);
                    var address = $("#Direccion").val();
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ 'address': address }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            creaMarca(results[0].geometry.location);
                        }
                    });
                }
            }

        </script>
        <h3>Ubicación</h3>
        <br />
        <div id="map-canvas" style="width: 400px; height: 350px"></div>
    </div>
</div>

<h2>Dar de Alta un Nuevo @nombreTipoBien</h2>

@using (Html.BeginForm("Create", "Bien", FormMethod.Post, new { name = "RegisterForm", id = "RegisterForm", encType = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Alta de @nombreTipoBien</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Titulo)
                @Html.TextBoxFor(m => m.Titulo)
            </li>
            <li>
                @Html.LabelFor(m => m.Descripcion)
                @Html.TextAreaFor(m => m.Descripcion)
            </li>
            <li>
                @Html.LabelFor(m => m.Foto)
                <input type="file" id="imagen" name="imagen" />
            </li>
            <li>
                @Html.LabelFor(m => m.Direccion)
                @Html.TextBoxFor(m => m.Direccion)
            </li>
            <li>
                @Html.LabelFor(m => m.Capacidad)
                @Html.TextBoxFor(m => m.Capacidad)
            </li>
            <li>
                @Html.LabelFor(m => m.Precio)
                @Html.TextBoxFor(m => m.Precio)
            </li>
            <li>
                @Html.LabelFor(m => m.Normas)
                @Html.TextAreaFor(m => m.Normas)
            </li>
            <li>
                @Html.HiddenFor(m => m.Latitud)
                @Html.HiddenFor(m => m.Longitud)
                @Html.Hidden("click", ((bool)ViewBag.Click).ToString())
            </li>

            @foreach (Ol4RentAPI.DTO.CaracteristicaEdicionDTO caracteristica in ViewBag.Caracteristicas)
            {
                <li>
                    @Html.Label("car-" + caracteristica.Id.ToString(), caracteristica.Nombre)
                    @if (caracteristica.Tipo == Ol4RentAPI.Model.TipoDato.BOOLEANO)
                    {
                        @Html.CheckBox("car-" + caracteristica.Id.ToString());
                    }
                    else if (caracteristica.Tipo == Ol4RentAPI.Model.TipoDato.FECHA)
                    {
                        @Html.TextBox("car-" + caracteristica.Id.ToString());
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#car-@caracteristica.Id.ToString()").datepicker
                                ({
                                    dateFormat: 'dd/mm/yy',
                                    showStatus: true,
                                    showWeeks: true,
                                    highlightWeek: true,
                                    numberOfMonths: 1,
                                    showAnim: "scale",
                                    showOptions: {
                                        origin: ["top", "left"]
                                    }
                                });
                            });
                        </script>
                    }
                    else if (caracteristica.Tipo == Ol4RentAPI.Model.TipoDato.HORA)
                    {
                        @Html.TextBox("car-" + caracteristica.Id.ToString(), String.Format("{HH:mm}", DateTime.Now), "HH:mm");
                    }
                    else if (caracteristica.Tipo == Ol4RentAPI.Model.TipoDato.ENTERO)
                    {
                        @Html.TextBox("car-" + caracteristica.Id.ToString(), 0, "0");
                    }
                    else if (caracteristica.Tipo == Ol4RentAPI.Model.TipoDato.DECIMAL)
                    {
                        @Html.TextBox("car-" + caracteristica.Id.ToString(), 0, "0,0");
                    }
                    else
                    {
                        @Html.TextBox("car-" + caracteristica.Id.ToString());
                    }
                </li>
            }
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>
}

<div>
    @Html.ActionLink("Volver a Mis " + nombreTipoBien + plural, "MisBienes")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/crearBien.js")
}