@model Ol4RentAPI.DTO.BienAltaDTO

@{
    ViewBag.Title = "Dar de Alta un Nuevo Bien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dar de Alta un Nuevo Bien</h2>

@using (Html.BeginForm("Create", "Bien", FormMethod.Post, new { name = "RegisterForm", id = "RegisterForm", encType = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Alta de Bien</legend>
   <ol>
            <li>
                @Html.LabelFor(m => m.Titulo)
                @Html.TextBoxFor(m => m.Titulo)
            </li>
            <li>
                @Html.LabelFor(m => m.Direccion)
                 @Html.TextBoxFor(m => m.Direccion)
            </li>
            <li>
               @Html.LabelFor(m => m.Latitud)
                @Html.TextBoxFor(m => m.Latitud)
                
               @Html.LabelFor(m => m.Longitud)
                @Html.TextBoxFor(m => m.Longitud)
            </li>
            <li>
                  @Html.LabelFor(m => m.Normas)
                 @Html.TextAreaFor(m => m.Normas)
            </li>
        </ol>
          <input type="submit" value="Guardar" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

