@model IEnumerable<Ol4RentAPI.DTO.BienListadoDTO>

@{
    ViewBag.Title = "Populares";
}
<h2>Bienes Populares</h2>
<ul class="listado-bienes">
@foreach (Ol4RentAPI.DTO.BienListadoDTO item in Model) {
    <li>
        <div class="bien-first">
            <img src="@Url.Action("Foto", "Bien", new { idBien = @item.Id })" alt="@item.Titulo" />
        </div>
        <div class="bien-second">
            @Html.ActionLink(item.Titulo, "Details", "Bien", new { id=item.Id }, null)
            @if (item.MostrarMeGusta)
            {
                <a href="" onclick="javascript:like(@item.Id,@item.CantidadLikes);" id="like-@item.Id"><img src="~/Images/like.png" width="25" height="25" /></a>
            }
            <span id="likes-@item.Id" class="likes">Likes: @item.CantidadLikes</span>
            <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
        </div>
    </li>
}
</ul>

