@model Ol4RentAPI.Model.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Nombre)
                @Html.TextBoxFor(m => m.Nombre)
            </li>
            <li>
                @Html.LabelFor(m => m.Apellido)
                @Html.TextBoxFor(m => m.Apellido)
            </li>
            <li>
                @Html.LabelFor(m => m.Mail)
                @Html.TextBoxFor(m => m.Mail)
            </li>
            <li>
                @Html.LabelFor(m => m.NombreUsuario)
                @Html.TextBoxFor(m => m.NombreUsuario)
            </li>
            <li>
                @Html.LabelFor(m => m.Contraseña)
                @Html.PasswordFor(m => m.Contraseña)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
