@model OL4RENT.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
        <div class="content-wrapper">
            <div class="float-left">
                <!-- Vista de bienes populares -->
                @Html.Partial("../Bien/Populares", Model.BienesPopulares)
            </div>
            <div class="float-right">
                <div>
                    <!-- Mapa -->
                    @Html.Partial("../Bien/Mapa", Model.BienesPopulares)
                </div>
                <div>
                    <!-- Novedades -->
                    @Html.Partial("../Novedad/List", Model.ListaNovedades)
                </div>
                <div>
                    <!-- Novedades Twitter -->
                    @Html.Partial("../Novedad/NovedadesTwitter")
                </div>
                <div>
                    <!-- Novedades RSS -->
                    @Html.Partial("../Novedad/NovedadesRSS", Model.ListaNovedadesRSS)
                </div>
            </div>
        </div>
}
