@model OL4RENT.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
        <div class="content-wrapper">
            <div class="float-left">
                <!-- Vista de bienes populares -->
                @Html.Partial("../Bien/Populares", Model.BienesPopulares)
            </div>
            <div class="float-right">
                <div>
                    <!-- Mapa -->
                    @Html.Partial("../Bien/Mapa", Model.BienesPopulares)
                </div>
                <div>
                    <!-- Novedades -->
                    @Html.Partial("../Novedad/List", Model.ListaNovedades)
                </div>
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/meGusta.js")
}
