@{
    ViewBag.Title = "ChatUsuario";
}

<h2>Sala de Chat con Usuarios on-line</h2>

<script type="text/javascript">
    
    @{  
        
        ///// Marca de la pagina de inicio en caso de no estar logueado
        var iniciored = "/Home/Index";
        
        var nombreUsuario = User.Identity.Name;

        if ((nombreUsuario == null) || (nombreUsuario == ""))
        {
            Response.Redirect(iniciored);
        }       

        var useridactual = WebSecurity.GetUserId(User.Identity.Name);
        
    }       

    function desplegarusuarios(entrada) {
        
        //// Verificar si los actuales estan incluidos en la lista que llega no
        if ($('#todousrcon').val() != "") {

            var actualesur = $('#todousrcon').val();
            var parusu = actualesur.split(';');
            var usuretirado = "";

            var cantusuariosenlinea = parusu.length;

            for (var i = 0; i < parusu.length - 1; i++) {
                diopt = parusu[i];
                arrdiopt = diopt.split('-');                
                verstr = entrada.search(diopt);
                if (verstr < 0) {
                    usuretirado = $("#usuariosconectados option[value = '" + arrdiopt[0] + "']").text();
                    agregaralpanael("<font color='brown'>Acaba de retirarse de la sala el Usuario: " + usuretirado + "</font>");
                    $("#usuariosconectados option[value = '" + arrdiopt[0] + "']").remove();
                }

            }
        }

        if (entrada != "") {

            //// Verifico si los que llegan ya estaban en la lista anteriormente
            var inHTML = "";
            var parusu = entrada.split(';');
            var marcainicio;
            marcainicio = $('#iniciochat').val();

            var cantusuariosenlinea = parusu.length;

            for (var i = 0; i < parusu.length - 1; i++) {
                diopt = parusu[i];
                arrdiopt = diopt.split('-');

                optionexiste = $("#usuariosconectados option[value = '" + arrdiopt[0] + "']").val();
                        
                if (!optionexiste) {                    
                    inHTML += '<option value=' + arrdiopt[0] + '>' + arrdiopt[1] + '</option>';
                    if (marcainicio == 0) {                       
                        agregaralpanael("<font color='brown'>Acaba de ingresar a la sala el Usuario: " + arrdiopt[1] + "</font>");
                    }                    
                }
                else {
                    //// por si cambio su nombre/apellido
                    if ($("#usuariosconectados option[value = '" + arrdiopt[0] + "']").text() != arrdiopt[1])
                        $("#usuariosconectados option[value = '" + arrdiopt[0] + "']").text(arrdiopt[1]);
                }
            }            

            $('#todousrcon').val(entrada);
            $("#usuariosconectados").append(inHTML);
        }       

    }    

    function agregaralpanael(recibido) {
       
        $("#BandejaMensajes").append("<BR>" + recibido + "<BR>");
        
        lineas = parseInt($("#lineas").val());        
        lineas++;

        $("#BandejaMensajes").scrollTop(lineas * 100);
        $("#lineas").val(lineas);
    }

    function darFechaActual() {
        var now = new Date();
        var yyyy = now.getFullYear();
        var mm = (now.getMonth() + 1).toString();
        if ((now.getMonth() + 1) < 10)
            mm = "0" + mm;
        var dd = now.getDate().toString();
        if (now.getDate() < 10)
            dd = "0" + dd;
        var hh = now.getHours();
        if (now.getHours() < 10)
            hh = "0" + hh;
        var mi = now.getMinutes();
        if (now.getMinutes() < 10)
            mi = "0" + mi;
        var ss = now.getSeconds();
        if (now.getSeconds() < 10)
            ss = "0" + ss;
        return dd + "/" + mm + "/" + yyyy + " " + hh + ":" + mi + ":" + ss;
    }

    function enviomensaje() {

        var fechaenvio = "";
        var selectusu = $('#usuariosconectados');
        var idusuarioenvio = selectusu.find('option:selected').val();
        var nomusuenvio = selectusu.find('option:selected').text();        

        if ((idusuarioenvio == "") || (!idusuarioenvio)) {
            alert("Debe seleccionar al menos un usuario !!!");
            $('#usuariosconectados').focus();
        }
        else {
            
            mensajeenvio = $.trim($("#mensaje").val());

            if (mensajeenvio == "") {
                alert("Debe escribir el Mensaje a enviar al usuario !!!");
                $('#mensaje').focus();                
            }
            else {

                $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("enviomensaje","Chat")',
                    data: {                        
                        idusuario: idusuarioenvio,
                        mensaje: mensajeenvio
                    },
                    success: function (result) {
                        if (result == "1") {
                            fechaenvio = darFechaActual();
                            agregaralpanael("<b>Enviado a " + nomusuenvio + ":</b> " + mensajeenvio + "<BR><font size=1>Fecha: " + fechaenvio + "</font>");                            
                        }
                        else {
                            mensajeenvio = "Mal Enviado";
                            agregaralpanael("<font color='#FF0000' size=3><b>Mensaje a " + nomusuenvio + " mal enviado</b></font>");
                        }

                    },
                    error: function (req, status, error) {
                        agregaralpanael("<font color='#FF0000' size=3><b>No se pudo invocar enviar</b></font>");
                    }
                });

                $("#mensaje").val("");
                $("#mensaje").focus();

            }
        }
    };

    function estasesionactiva() {
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("VerificarSesion","Chat")',                
                success: function (ressesact) {
                    if (ressesact != "1") {
                        var urlh = '@iniciored';
                        $(location).attr('href', urlh);
                    }
                },
                error: function (req, status, error) {
                    agregaralpanael("<font color='#FF0000' size=3><b>No se encuentra logueado</b></font>");
                }
            });
    }

    function recibirmensajeinicial() {
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("mensajeinicial","Chat")',
                data: {                    
                    espero: $("#esperoinicial").val(),
                },
                success: function (result) {
                    if ((result != "") && (result != "[object XMLDocument]")) {
                        agregaralpanael(result);
                        valactual = parseInt($("#esperoinicial").val());
                        valactual++;
                        $("#esperoinicial").val(valactual);
                    }
                },
                error: function (req, status, error) {
                    agregaralpanael("<font color='#FF0000' size=3><b>No se pudo invocar recibir inicial</b></font>");                    
                }
            });
        }

    function recibirmensaje() {
        var fecharecibido = "";
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("llegamensaje","Chat")',
                data: {                        
                        espero: $("#espero").val(),
                    },
                    success: function (recibidom) {
                        if ((recibidom != "-*--*--*-") && (recibidom != "[object XMLDocument]")) {
                            agregaralpanael(recibidom);
                            valactual = parseInt($("#espero").val());
                            valactual++;
                            $("#espero").val(valactual);
                        }
                    },
                    error: function (req, status, error) {
                        agregaralpanael("<font color='#FF0000' size=3><b>No se pudo invocar recibir</b></font>");
                    }
                });

            }

    function dispusuarios() {
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("ObtenerUsuariosOnline","Chat")',
                    data: {                        
                    },
                    success: function (result) {
                        var espusu = $("#esperousuarios").val();
                        if (result != "") {
                            desplegarusuarios(result);
                            $("#esperousuarios").val(0);                            
                        }
                        else {
                            if (espusu == 0) {
                                desplegarusuarios(result);
                                agregaralpanael("<b>No hay usuarios conectados al momento - Aguarde a que llegue el primero</b><BR>");
                                $("#esperousuarios").val(1);
                            }
                        }
                        if ($('#iniciochat').val() == 1)
                            $('#iniciochat').val(0);
                    },
                    error: function (req, status, error) {
                        agregaralpanael("<font color='#FF0000' size=3><b>No se pudo obtener los usuarios</b></font>");
                    }
                });

            }

    /// al iniciar la pagina
    $(document).ready(function () {

        $("#usuariosconectados").css("height", 400);
        $("#usuariosconectados").css("width", 200);

        estasesionactiva();
        setInterval(estasesionactiva, 2000);

        recibirmensajeinicial();

        recibirmensaje();
        setInterval(recibirmensaje, 3000);

        dispusuarios();
        setInterval(dispusuarios, 8000);

        $("#BandejaMensajes").prop("disabled", true);

        $("#mensaje").focus();        

    });

</script>

@Html.Hidden("espero", 1)
@Html.Hidden("esperoinicial", 1)
@Html.Hidden("lineas", 1)
@Html.Hidden("idususel", "")
@Html.Hidden("todousrcon", "")
@Html.Hidden("esperousuarios", 0)
@Html.Hidden("iniciochat", 1)

<p>
    Seleccione una de los Usuarios de la lista y proceda a enviar mensaje.
</p>

<div id="posusuarios">
    Usuarios conectados:<BR>
    <select id="usuariosconectados" name="usuariosconectados" size="3"></select>
    <BR><BR>
</div>

<div id="pospanel">
    <div id="BandejaMensajes" style="border-color: black; background-color: #ffffff; height: 400px; overflow : auto; "></div>
</div>

<div id="posmensaje">    
    Mensaje:
    @Html.TextArea("mensaje","",3,50,"")
    <button name="button" value="Enviar" onclick="enviomensaje()">Enviar</button> 
</div>



