@using Ol4RentAPI.DTO;
@{SitioListadoDTO sitio = (SitioListadoDTO)@Session["sitio"];}

<div class="site-logo">
    <a href="@Url.Action("Index", "Home")">
        @if (sitio != null)
        {            
            <img src="@Url.Action("logo", "Sitio", new { idSitio = sitio.Id })" alt="@sitio.Nombre" /> 
        }
        else
        {
            <img src="~/Images/logo.png" alt="OL4RENT" />
        }
    </a>
</div>
<div class="site-title">
    @if (sitio != null)
    {        
        <span><a href="@Url.Action("Index", "Home")" class="title">@Html.Label(sitio.Nombre)</a></span>
        
    } else {
        <span>OL4RENT</span>
    }
</div>






