<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Ol4RENT - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="header">
                    @Html.Partial("_HeaderPartial")
                </div>
                <div class="float-left">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                <div class="float-right">
                    <!-- Form de Busqueda -->
                    <div>
                    @using (Html.BeginForm("Buscar", "Bien")) {
                        @Html.ValidationSummary(true)
                        @Html.TextBox("query")
                        <input type="submit" value="Buscar" name="Buscar" id="buscar" />
                    }
                    </div>
                    <div class="busqueda-avanzada">
                        @Html.ActionLink("Búsqueda avanzada", "BusquedaAvanzada", "Bien")
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - OL4RENT - TSI1, Grupo 6</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
