@model Ol4RentAPI.Model.LoginModel
<h4>Utilice su cuenta local para inciar sesión.</h4>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Inicio de sesión</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NombreUsuario)
                @Html.TextBoxFor(m => m.NombreUsuario)
                @Html.ValidationMessageFor(m => m.NombreUsuario)
            </li>
            <li>
                @Html.LabelFor(m => m.Contraseña)
                @Html.PasswordFor(m => m.Contraseña)
                @Html.ValidationMessageFor(m => m.Contraseña)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Iniciar sesión" />
    </fieldset>
}
<h4>O utilice una cuenta externa.</h4>
<p>
    @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
</p>
