@model Ol4RentAPI.DTO.ConfiguracionOrigenDatosAltaDTO
@{
    ViewBag.Title = "Configurar origen de datos para el sitio " + ViewBag.Sitio.Nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm("Configurar", "OrigenDatos", FormMethod.Post, new { name = "RegisterForm", id = "RegisterForm", encType = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    int i = 0;
    @Html.Hidden("IdSitio", (int)ViewBag.Sitio.Id)

    <fieldset>
        <legend>Nuevo origen de datos para el sitio @ViewBag.Sitio.Nombre</legend>
        <ol>
            <li>
                @Html.DropDownList("IdOrigenDatos", (List<SelectListItem>) ViewBag.OrigenesDatos)
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Configuraciones</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.ValoresAtributo)
                <div>
                    <ol id="ValoresAtributo">
                        @foreach (Ol4RentAPI.DTO.AtributoEdicionDTO atributo in ViewBag.Atributos)
                        {
                            Ol4RentAPI.DTO.ValorAtributoAltaDTO valorAtributo = Model.ValoresAtributo == null ? null : ((List<Ol4RentAPI.DTO.ValorAtributoAltaDTO>)Model.ValoresAtributo).Find(val => val.IdAtributo == atributo.Id);
                            string strValor = valorAtributo == null ? "" : valorAtributo.Valor;
                            <li id="atr-@atributo.Id">
                                @Html.Label("val-" + atributo.Id.ToString(), atributo.Nombre)
                                @Html.TextBox("val-" + atributo.Id.ToString(), strValor)
                            </li>
                        }
                    </ol>
                </div>
            </li>
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>
}

@Html.ActionLink("Volver", "ListarPorSitio", "OrigenDatos", new { idSitio = ViewBag.Sitio.Id }, null)

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/configurarODSitio.js")
}