@model List<Ol4RentAPI.DTO.ConfiguracionOrigenDatosEdicionDTO>
@{
    ViewBag.Title = "Listado de origenes de datos configurados para el sitio" + (Model.Count > 0 ? " " + Model[0].NombreSitio : "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Configurar nuevo origen de datos", "Configurar", "OrigenDatos", new { idSitio = ViewBag.IdSitio }, null)
</p>
@if (Model.Count > 0) {
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].NombreOrigenDatos)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreOrigenDatos)
        </td>
        <td>
            @Html.ActionLink("Modificar", "ModificarConfiguracion", "OrigenDatos", new { id = item.Id }, null) 
            @Html.ActionLink("Eliminar", "EliminarConfiguracion", "OrigenDatos", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
@Html.ActionLink("Volver", "Listar", "Sitio", new { idSitio = Model[0].IdSitio }, null)
} else {
<p>No existen orígenes de datos configurados aún.</p>
}
