@model Ol4RentAPI.DTO.ConfiguracionOrigenDatosEdicionDTO
@{
    ViewBag.Title = "Modificar configuracion de origen de datos para el sitio " + Model.NombreSitio;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm("ModificarConfiguracion", "OrigenDatos", FormMethod.Post, new { name = "RegisterForm", id = "RegisterForm", encType = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.IdSitio)
    @Html.HiddenFor(m => m.IdOrigenDatos)
    int i = 0;

    <fieldset>
        <legend>Configuraciones del origen de datos @Model.NombreOrigenDatos para el sitio @Model.NombreSitio</legend>
        <ol>
            <li>
                <!-- TODO Atributos -->
                @Html.LabelFor(m => m.ValoresAtributo)
                <table id="ValoresAtributo" >
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ValoresAtributo != null && Model.ValoresAtributo.Count > 0)
                        {
                            foreach (Ol4RentAPI.DTO.ValorAtributoEdicionDTO item in Model.ValoresAtributo)
                            {
                                <tr id="tr@(i.ToString())">
                                    <td>
                                        @item.NombreAtributo
                                        @Html.Hidden("nombre" + i.ToString(), item.NombreAtributo)
                                        @Html.Hidden("id" + i.ToString(), item.IdAtributo)
                                    </td>
                                    <td>
                                        @item.Valor
                                        @Html.Hidden("valor" + i.ToString(), item.NombreAtributo)
                                        @Html.Hidden("idValor" + i.ToString(), item.Id)
                                    </td>
                                    <td>
                                        <a onclick='javascript:$("#tr@(i.ToString())").remove();return false;'>Eliminar</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                Agregar atributo:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Atributo: @Html.DropDownList("NuevoNombre", (List<SelectListItem>)ViewBag.Atributos)
                            </td>
                            <td>
                                Valor: @Html.TextBox("NuevoValor")
                            </td>
                            <td>
                                <a id="agregarNuevo" name="agregarNuevo">Agregar</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <input type="hidden" name="maxid" id="maxid" value="@i.ToString()" />
            </li>
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/editarODSitio.js")
}