@model Ol4RentAPI.DTO.ConfiguracionOrigenDatosEdicionDTO
@{
    ViewBag.Title = "Modificar configuracion de origen de datos para el sitio " + Model.NombreSitio;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm("ModificarConfiguracion", "OrigenDatos", FormMethod.Post, new { name = "RegisterForm", id = "RegisterForm", encType = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.IdSitio)
    @Html.HiddenFor(m => m.IdOrigenDatos)
    int i = 0;

    <fieldset>
        <legend>Configuraciones del origen de datos @Model.NombreOrigenDatos para el sitio @Model.NombreSitio</legend>
        <ol>
            @foreach (Ol4RentAPI.DTO.AtributoEdicionDTO atributo in ViewBag.Atributos)
            {
                Ol4RentAPI.DTO.ValorAtributoEdicionDTO valorAtributo = Model.ValoresAtributo == null ? null : ((List<Ol4RentAPI.DTO.ValorAtributoEdicionDTO>)Model.ValoresAtributo).Where(val => val.IdAtributo == atributo.Id).First();
                string strValor = valorAtributo == null ? "" : valorAtributo.Valor;
                <li id="atr-@atributo.Id">
                    @Html.Label("val-" + atributo.Id.ToString(), atributo.Nombre)
                    @Html.TextBox("val-" + atributo.Id.ToString(), strValor)
                    @Html.Hidden("id-va-" + atributo.Id.ToString(), valorAtributo == null ? "-1" : valorAtributo.Id.ToString())
                </li>
            }
        </ol>
        <input type="submit" value="Guardar" />
    </fieldset>
}

@Html.ActionLink("Volver", "ListarPorSitio", "OrigenDatos", new {idSitio = Model.IdSitio}, null)

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/editarODSitio.js")
}