@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>No hay servicios externos configurados actualmente.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Ingresar utilizando un servicio externo</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Ingresa utilizando tu cuenta de @p.DisplayName">
                <img src="@p.ExtraData["Icon"]" alt="Icono de @p.DisplayName" />
            </button>
        }
        </p>
    </fieldset>
    }
}
