@model Ol4RentAPI.Model.LoginModel
@using Ol4RentAPI.DTO;
@{SitioListadoDTO sitio = (SitioListadoDTO)@Session["sitio"];}

@{
    ViewBag.Title = "Inicio de Sesión";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Utilice su cuenta local para <br>inciar sesión.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Inicio de sesión</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NombreUsuario)
                @Html.TextBoxFor(m => m.NombreUsuario)
                @Html.ValidationMessageFor(m => m.NombreUsuario)
            </li>
            <li>
                @Html.LabelFor(m => m.Contraseña)
                @Html.PasswordFor(m => m.Contraseña)
                @Html.ValidationMessageFor(m => m.Contraseña)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        @Html.Hidden("IdSitio",  (sitio!=null?sitio.Id:-1))
        <input type="submit" value="Iniciar sesión" />
    </fieldset>
}
<h3>O utilice una cuenta externa:</h3>
<p>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</p>
<p>
    @Html.ActionLink("Registrese", "Register") si no posee una cuenta.
</p>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
